.container-padding{
    padding: 6rem;
}

.margin-top{
margin-top: 1rem;
}
.text-container{
    width: 50%;
    padding-top: 2rem;
}

@media screen and (max-width: 500px) {
    .text-container{
        width: 100%;
    }
    
}